
.wrapper{
  background: url(../img/BCG.png) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;;
}

.header-bcg{
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -15px;
}

a{
  text-decoration: none;
}

h1 > a{
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  color: #fff;
}

.icon{
  width: 23px;
  height: 23px;
  padding-right: 25px;
}

.header-link:hover{
  opacity: 0.9;
}

.icon:hover{
  filter: brightness(0) saturate(100%) invert(30%) sepia(82%) saturate(727%) hue-rotate(106deg) brightness(101%) contrast(99%);
  opacity: 0.8;
}

h1:hover a,
.header-link:hover a{
  color: #01813F;
  opacity: 0.8;
}

.header-link,
.header-link a{
  font-size: 14px;
  line-height: 1;
  color: #fff;
  display: inline-block;
}

.header-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link:before {
  content: '';
  border-right: 1px solid #fff;
  height: 19px;
  margin-right: 27px;
  opacity: 0.4;
}

.header-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 58px;
  padding: 18px 80px;
}

.main-wrapper{
  background-color: #fff;
  align-items: center;
  margin: 54px auto;
  width: 450px;
  height: 600px;
  text-align: center;
  position: relative;
}

.main-wrapper:before{
  width: 0;
  height: 0;
  border: 18px solid #3CB878;;
  position: absolute;
  content: "";
  left: 0px;
  top: 29px;
}

.form-wrapper{
  padding: 35px 60px;
}

.form-sign-up{
  font-size: 20px;
  line-height: 1;
  color: #434343;
}

.form-log-in{
  font-size: 14px;
  line-height: 1;
  color: #3CB878;
}

.checkbox-link:hover,
.form-log-in:hover{
  color: #01813F;
  text-decoration: underline;
}

.form-link-fb,
.form-link-gg{
  padding: 12px 20px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.form-link-fb-p::before,
.form-link-gg-p::before {
  content: '';
  border-right: 1px solid #0A162F;
  height: 28px;
  margin-right: 20px;
  opacity: 0.1;
}

.form-link-fb{
  background-color: #305DB8;
}

.form-link-fb:focus{
  background-color: #022263
}
.form-link-gg{
  background-color: #DF4A32;
}
.form-link-gg:focus {
  background-color: #AB1F09
}

.iconf{
  width: 12px;
  height: 24px;
  padding-left: 12px;
  padding-right: 7px;
}

.icong{
  width: 30px;
  height: 20px;
  padding-left: 12px;
  padding-right: 7px;
}

.form-wrap-link,
.form-wrap-link-net{
  display: flex;
  justify-content: space-between;
}

.form-wrap-link{
  margin-bottom: 15px;
}

.or{
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #848484;
  margin-bottom: 12px;
  position: relative;
}

.or:before, 
.or:after{
  width: 152px;
  content: '';
  position: absolute;
  border-bottom: 1px solid #000;
  border-color: #F2F2F2;
}

.or:before{
  top: 50%;
  left: 53%;
}

.or:after{
  top: 50%;
  right: 53%;
}

fieldset .input{
  width: 322px;
  height: 44px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  color: #BEBEBE;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 15px;
  padding: 15px 20px;
  box-sizing: border-box;
}

.input{
  font-size: 14px;
  line-height: 14px;
  color: #BEBEBE;
  outline: none;
}

.input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  color: #434343;
}


.checkbox-text,
.checkbox-link{
  font-size: 14px;
  line-height: 1;
  color: #434343;
}

.checkbox-link{
  color: #3CB878;
}

.checkbox-text{
  padding-left: 10px;
  padding-top: 5px;
}

label{
  display: flex;
}

label input{
  display: none;
}

label span{
  height: 20px;
  width: 20px;
  border: 1px solid  #F2F2F2;;
  display: inline-block;
  position: relative;
  background-color: #FFF;
}

.checkbox:checked+span:before{
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  left: 2px;
  background-image: url(../img/chek.svg);
  background-repeat: no-repeat;
}

.btn{
  padding: 15px 102px;
  background-color: rgba(60, 184, 120, 0.8);
  border: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

.btn:focus{
  background-color: #01813F;
}